/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  font-family: "Archivo", sans-serif;
  font-family: "Space Grotesk", sans-serif;
}

/* Navbar-logo-secction */

.navbar {
  display: flex;
  width: 1, 440px;
  height: 102px;
  padding: 12px 100px 12px 100px;
  gap: 32px;
  border: 1px solid #ff0000;

  background: #121212;
  backdrop-filter: blur(64px);
  align-items: center;
  margin-bottom: 48px;
}

.navbar .logo {
  display: flex;
  width: 498px;
  height: 35.25px;
  gap: 4.85px;
  color: #f8f3e5;
  margin-top: 33.38px;
  margin-bottom: 33.38px;
  margin-left: 100px;
}

.navbar .logo img {
  display: flex;
  width: 35.25px;
  height: 35.25px;
}
.navbar .logo p {
  display: flex;
  width: 130.91px;
  height: 22.18px;
  font-size: 30px;
  font-weight: 600;
}

/* Navbar-menu-secction */

/*hot-stories-section*/
.hot-stories-container {
  width: 1240px;
  height: 1000px;
  top: 150px;
  left: 100px;
  gap: 100px;
  margin-bottom: 50px;
}

.header {
  width: 1240px;
  height: 104px;
  gap: 48px;
  margin-bottom: 48px;
}

.header h1 {
  width: 588px;
  height: 104px;
  font-weight: 700;
  font-size: 86px;
  line-height: 93.57px;
  font-family: Archivo;
}

/* Left section for main article */
.main-article-content {
  width: 1240px;
  height: 560px;
  gap: 32px;
  margin-bottom: 48px;
  border: 1px solid red;
}
.main-article img {
  width: 770px;
  height: 560px;
}

.main-article {
  flex: 1;
  margin: auto;
  position: relative;
}

.main-article .overlay {
  width: 770px;
  height: 162.4px;
  top: 397.6px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #ffffff;
  background-color: #00000077;
  backdrop-filter: blur(32px)

}

.main-article .overlay h2 {
  font-family: "clash display";
  width: 711.63px;
  height: 121.33px;
  top: 420px;
  left: 24.81px;
}

h2 {
  font-family: "Clash Display";
  color: #ffffff;
  font-size: 36px;
  font-weight: 600;
  line-height: 43.2px;
  text-align: left;
  margin-left: 24.81px;
}

/* Tag */
.tag {
  background: #f34d1b;
  width: 166.42px;
  height: 34px;
  top: -22px;
  left: 24.81px;
  padding: 8px 16px;
  text-align: center;
  line-height: 18px;
  gap: 10px;
  position: relative;
}

.tag p {
  font-family: "Josefin Sans";
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  line-height: 18px;
  text-transform: uppercase;
}
